version: '3.8'

networks:
  chat-net:
    driver: bridge

services:
  app:
    container_name: chat-app
    build: .
    restart: always
    ports:
      - "8082:8082"
    env_file:
      - .env
    environment:
      - CONFIG_PATH=./configs/config.yaml
      - DB_HOST=postgres
      - REDIS_HOST=redis
      - MONGO_URI=mongodb://root:example@mongo:27017
      - KAFKA_BROKERS=kafka:29092
      - SERVER_HOST=0.0.0.0
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=chat_db
      - DB_PORT=5432
    depends_on:
      postgres:
        condition: service_healthy
      mongo:
        condition: service_healthy
      kafka:
        condition: service_healthy
      redis:
        condition: service_healthy
    networks:
      - chat-net

  postgres:
    image: postgres:15-alpine
    container_name: chat-postgres
    restart: always
    environment:
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
      POSTGRES_DB: chat_db
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/data
    healthcheck:
      test: [ "CMD-SHELL", "pg_isready -U user -d chat_db" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - chat-net

  mongo:
    image: mongo:6.0
    container_name: chat-mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: echo 'db.runCommand("ping").ok' | mongosh localhost:27017/test --quiet
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - chat-net

  redis:
    image: redis:alpine
    container_name: chat-redis
    restart: always
    ports:
      - "6379:6379"
    healthcheck:
      test: [ "CMD", "redis-cli", "ping" ]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - chat-net

  zookeeper:
    image: confluentinc/cp-zookeeper:7.4.0
    container_name: chat-zookeeper
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    networks:
      - chat-net

  kafka:
    image: confluentinc/cp-kafka:7.4.0
    container_name: chat-kafka
    depends_on:
      - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_HOST://0.0.0.0:9092
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
    healthcheck:
      test: [ "CMD", "cub", "kafka-ready", "-b", "kafka:29092", "1", "20" ]
      interval: 10s
      timeout: 10s
      retries: 5
    networks:
      - chat-net

  migrator:
    image: gomicro/goose
    container_name: chat-migrator
    environment:
      GOOSE_DRIVER: postgres
      GOOSE_DBSTRING: "postgres://user:password@postgres:5432/chat_db?sslmode=disable"
    volumes:
      - ./internal/database/postgres/migrations:/migrations
    command: goose -dir /migrations up
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - chat-net

  prometheus:
    image: prom/prometheus:latest
    container_name: chat-prometheus
    volumes:
      - ./configs/prometheus.yml:/etc/prometheus/prometheus.yml
    ports:
      - "9090:9090"
    networks:
      - chat-net

  grafana:
    image: grafana/grafana:latest
    container_name: chat-grafana
    depends_on:
      - prometheus
    ports:
      - "3000:3000"
    environment:
      - GF_SECURITY_ADMIN_USER=admin
      - GF_SECURITY_ADMIN_PASSWORD=secret
    volumes:
      - grafana_data:/var/lib/grafana
    networks:
      - chat-net

volumes:
  pg_data:
  mongo_data:
  grafana_data:
